debian/stsbl-iserv-linux-support/*
debian/stsbl-iserv-linux-support.debhelper.log
debian/stsbl-iserv-linux-support.substvars
debian/debhelper-build-stamp
debian/files
/Makefile.iservmake
/locale
/system-locale
!/locale/templates/*_misc.pot
