Source: stsbl-iserv-linux-support
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10), iserv3-dev
Standards-Version: 3.9.5

Package: stsbl-iserv-linux-support
Architecture: all
Depends: iserv-portal,
  iserv-computer,
  iserv-server-ferm,
  libcpanel-json-xs-perl,
  stsbl-iserv-perl-lib,
Replaces: stsbl-iserv-file-distribution (<< 17.11.11),
Description: Erweiterter Linux-Support für IServ (EXPERIMENTELL)
 Fügt Unterstützung für Linux-Clients durch IServ-Funktionen hinzu, die
 bisher für diese nicht verfügbar sind.
 .
 Momentan sind dies:
 .
 - Geplantes Herunterfahren zu der Uhrzeit, die in der Rechnerverwaltung
 angegeben ist.
 .
 - Unterstützung für direktes Drucken. Auf dem Client wird dazu beim
 Login eines Domänenbenutzers automatisch ein Programm dafür
 installiert, welches bei jedem Login läuft und die Drucker
 konfiguriert, weitere Konfigurationsschritte sind nicht
 erforderlich.
Tag: suite::iserv:portal, role::plugin, implemented-in::perl, status::highlighted, status::experimental
